
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: white;
}

a {
    text-decoration: none;
}

body {
    background-image: url("assets/746045.jpg");
    background-size: cover;
    opacity: 1;
}